body{
    background: url("img/fondo.jpg") black;
    color: white;
}
td{
    border-collapse: collapse;
    border: 1px solid black;
}

td:nth-of-type(odd){
    color: blue;
}
img{
    width: 100px;
}
article{
    background: rgba(128, 128, 128, 0.51);
}
#telefono:hover, #casa:hover{
    background: yellow;
}