@import url('https://fonts.googleapis.com/css?family=Acme|Alegreya+Sans|Montserrat+Alternates&display=swap');

body{
    background: url("img/fondo.jpg")black;
    color: white;
    font-family: 'Alegreya Sans',sans-serif;
}
h1{
    font-family: 'Acme',sans-serif;
    background: rgba(0, 191, 255, 0.71);
    text-shadow: 5px 3px 3px rgb(0, 0, 70);
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    width: 500px;
}
header h2{
    background: rgba(0, 191, 255, 0.7);
    text-shadow: 5px 3px 3px rgb(0, 0, 70);
    text-transform: uppercase;
    text-align: center;
    margin: 10px auto ;
    width: 300px;
}
h2{
    font-family: 'Monserrat Alternatives',sans-serif;
    text-align: center;
}
nav a{
    padding: 0 50px;
    border-right: solid white;
    text-decoration: none;
}
nav a:last-of-type{
    border: none;
}
table{
    margin: 10px auto;
    background: rgba(47, 45, 244, 0.75);
    border-collapse: collapse;
}
td{
    border: 2px solid grey;
    color: white;
}

td:nth-of-type(odd){
    text-transform: uppercase;
    color: rgb(255, 150, 195);
}
nav{
    background: rgba(255, 255, 255, 0.51);
    text-align: center;
    font-size: 1.5em;
}
a{
    color: white;
    text-align: center;}
img{
    width: 50px;
    padding: 0 80px;
}
article{
    background: rgba(128, 128, 128, 0.5);
    width: 400px;
    padding: 5px;
    margin: 10px;
}

article:nth-of-type(odd){
    margin-left: 15%;
}
article:nth-of-type(even){
    margin-left: 60%;
}
div{
    width: 100%;
    text-align: center;
    display: inline-block;
    background: rgba(255, 255, 255, 0.50);
}
li,p{
    background: rgba(0, 0, 255, 0.5);
    margin: 5px;
    padding: 2px;
}
li{
    list-style-image: url("img/icono.png");
}
li:hover{
    background: rgba(127, 255, 212, 0.5);
}
nav{
    background: linear-gradient(to right, rgba(239, 77, 162, 0.50), rgba(255, 255, 255, 0.50));
}